<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <div style="text-align: center">
            <h1>{{title}}</h1>
            <p>Sut en fed pik marcus {{procent}}% sikker på du er fucking gay</p>
            <h2>Info:</h2>
            {{ variety }}
        </div>
        <p>{{extra}}</p>

        <div style="width: 70%; text-align: center">
            <div style="float: left">
                <h1>Dit</h1>
                <img src="{{ url_for('display_image', filename=filename) }}" alt="bird" width="400px"/>
            </div>
            <div style="float: right">
                <h1>Vores</h1>
                <img src="{{picture}}" width="400px"/>
            </div>
        </div>


</body>
</html>